/*body*/
body{
    background: url(images/img-fond/mars-cratere.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center;
}
/*header*/
header p#slogan{
    font-size: 1.2em;
}
header p#p-titre{
    font-weight: bold;
    font-size: 2.5em;
}
/* main*/
/*section1*/
main section ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
main img.icons{
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-right: 10px;
}
/*section2*/
main img.icons-1{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}
/*section 3*/
/*zoom des aperçu images*/
.image {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: contain;
}
.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
transition: all 1s ease; 
}
.image:hover img{
    transform: scale(1.1);
}
/*class perso*/
.text-align-justify{
    text-align: justify;
}
.margin-p{
    margin-top:40px;
}
.light-color{
color: var(--bs-body-bg);
}
.fwbold{
    font-weight: bold;
}
.padding15{
    padding: 15px;
}
.padding10{
    padding: 10px;
}
.border{
    border: 4px solid black;
}
.pos-relative{
    position: relative;
}
.pos-absolute{
    position:absolute;
}
.align-justify{
    text-align: justify;
}
/* media-queries perso*/
/* @media(min-width: 576px){
    .modal-dialog-competences{
        max-width: 45%;
        margin: 1.75rem auto;
    }
} */
